.prev, .next{

     font-size : 1.1em;
} 

.event-edit, .event-delete{

    font-size: 1.1em;
}

.event-add{

    font-size: 1.2em;
}

.month-top {

    font-size: 1em;
}

.today {


    background: rgb(250, 225, 229);
}


.active {


     background: powderblue;

}


body{

    padding-bottom: 300px;
}