.prev, .next{

     font-size : 1.1em;
} 

.event-edit, .event-delete{

    font-size: 1.1em;
}

.event-add{

    font-size: 1.2em;
}

.month-top {

    font-size: 1em;
}

.today {


    background: rgba(73, 175, 206, 0.445);
}


.active {


     background: powderblue;

}


body{

    padding-bottom: 300px;
    font-family: sans-serif;
}


.tableCells{

   text-align: end;

}


.dayCell{

    text-align: center;


}